$transition-duration: 0.2s;

/* Transition between pages */
.slide-enter{
  opacity: 0;
  transform: scale(0.75);
}

.slide-enter-active {
  transition: all $transition-duration ease;
}

.slide-leave-active {
  transition: all $transition-duration ease;
  transform: scale(0.75);
  opacity: 0;
}
