body {
    background-color: white;
}
h1 {
	margin-left:80px;
    color: black;
}

.chevron-inf-button {
border:none;
margin-left:120px;
  background: url('../images/ChevronInferieur.png') left center no-repeat;
  padding-left: 15px;
}

.chevron-sup-button {
border:none;
  background: url('../images/ChevronSuperieur.png') left center no-repeat;
  padding-left: 15px;
}